<div class="text-center">
	<div><h1> Profil de {{profil.prenom}} {{profil.nom}}</h1></div>
	<div>
		<ul class="breadcrumb">
  			<li class="active">
  				<img src="{{profil.gravatar}}" width="80" height="80" alt="{{profil.nom}}"><br><br>
  				Sexe : <span class="label label-info">{{profil.sexe}}</span><br><br>
  				Age : <span class="label label-info">{{profil.age}}</span><br><br>
  				Email : <span class="label label-info">{{profil.email}} </span><br><br>
  				Centre d'int&eacute;r&ecirc;t : <span class="label label-info">{{profil.centreInterets}}</span><br><br>
  				<a href="" onClick="javascript:window.history.go(-1)">Retour</a>
  			</li>
		</ul>
	</div>
</div>