<div class="text-center">
	<div class="col-lg-6">
		<div class="well bs-component">
			<form class="form-horizontal">
				<fieldset>
					<legend>Recherche</legend>
					<div class="form-group">
						<label class="col-lg-2 control-label">Sexe</label>
						<div class="col-lg-10">
							<div class="radio">
								<label> <input ng-model="sexe" name="sexe" id="homme" value="homme"
									checked="" type="radio"> homme
								</label>
							</div>
							<div class="radio">
								<label> <input ng-model="sexe" name="sexe" id="femme" value="femme"
									type="radio"> femme
								</label>
							</div>
							<div class="radio">
								<label> <input ng-model="sexe" name="sexe" id="indifferent"
									value="" type="radio"> indiff&eacute;rent
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Centre
							d'int&eacute;r&ecirc;t</label>
						<div class="col-lg-10">
							<select ng-model="interet" class="form-control" id="select" name="interet">
								<option ng-repeat="int in interets">{{int.nomInteret}}</option>
							</select> <br>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<!-- <button class="btn btn-default" ng-click="annule()">Annuler</button> -->
							<button type="submit" class="btn btn-primary"
								ng-click="recherche()">Valider</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">R&eacute;sultat de la recherche</h3>
			</div>
			<div class="panel-body">
				<div class="panel panel-default" ng-repeat="user in users">
					<div class="panel-body">
						<img src="{{user.gravatar}}" width="80" height="80" alt="{{user.nom}}">
  						&nbsp;&nbsp;
  						<span class="label label-info">{{user.nom}}&nbsp;{{user.prenom}}</span>
  						&nbsp;&nbsp;
  						<span class="label label-info">{{user.sexe}}</span><br><br>
  						<a href="#/profil/{{user.id}}">Voir le profil</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>