<div class="text-center">
	<div><h1> Liste de tous les geeks / geekettes du Site </h1></div>
	<div ng-repeat="user in users">
		<ul class="breadcrumb">
  			<li class="active">
  				<img src="{{user.gravatar}}" width="80" height="80" alt="{{user.nom}}">
  				&nbsp;&nbsp;
  				<span class="label label-info">{{user.nom}}&nbsp;{{user.prenom}}</span>
  				&nbsp;&nbsp;
  				<span class="label label-info">{{user.sexe}}</span><br><br>
  				<a href="#/profil?id={{user.id}}">Voir le profil</a>
  			</li>
		</ul>
	</div>
</div>